
@black: #000;

.page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%; //CSS3引入的"vw"和"vh"基于宽度/高度相对于窗口大小,但是 width 不能=vw,否则太宽
  min-height: 100vh; //https://www.cnblogs.com/cxdg/p/8550353.html 设置元素高度为页面整个屏幕高
  height: 100%;
  align-items: center;
  position: relative;
  background-color:#00bc71;
}
